* {
    margin: 0;
    padding: 0;
}

.hflex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hflex_nopad {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hflex-sb {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

.flxcen {
    justify-content: center;
}

.vflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    position: relative;
}

.hvflex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

ul,
li {
    list-style-type: none;
}

.container {
    padding: 8px;
}

svg {
    max-width: 2.2rem;
    max-height: 2.2rem;
}

video {
    max-width: 100%;
}

p {
    font-size: 1rem;
}

p span {
    font-size: 0.9rem;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: 0;
}