/* Event container as a grid */
.event-details {
    padding: 1rem;
}

#events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 1rem; /* Adds gaps between grid items */
}

/* Individual Event */
.event {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
}

.event:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Event link and image */
.event a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;
}

.event img {
    /* width: 100%;
    height: auto;
    aspect-ratio: 640 / 360; */
    border-bottom: 1px solid #e0e0e0;
}

/* Event text */
.event h1 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
    color: #333333;
}

.event p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #666666;
}

/* Responsive Design */
@media (max-width: 768px) {
    main#content {
        padding: 0.5rem;
    }

    .event h1 {
        font-size: 1.2rem;
    }

    .event p {
        font-size: 0.8rem;
    }

    /* Adjust grid for smaller screens */
    .event-details {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}

/* Pagination */
.pagination-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.pagination-container div {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.pagination-container div:hover {
    background-color: #f0f0f0;
}
