/* Extra */
body {
    background: #ccc;
    color: #272727;
    font-size: 14px;
    margin: 0;
  }
  
  .logo {
    max-width: 200px;
  }
  
  .navbar {
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    padding: 10px 50px;
  }
  
  .push-left {
    margin-left: auto;
  }
  
 
  
  .sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    list-style: none;
    width: 230px;
  }
  @media screen and (max-width: 768px) {
    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }
  }
/*   
  .nav__link:hover + .sub-nav {
    display: block;
  }
  
  .sub-nav:hover {
    display: block;
  } */