#settings-container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    box-shadow: 1px 1px 10px #ddd;
}

select {
    padding: 6px;
}

.setting-form {
    margin: 1rem auto;
}