.booking-manager {
  background: #fefefe;
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  display: flex;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* font-family: sans-serif; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-manager h3 {
  margin-bottom: 10px;
  color: #333;
}

.booking-manager input,
.booking-manager button {
  display: block;
  margin: 10px 0;
  padding: 8px;
  font-size: 15px;
  width: 100%;
}

.booking-manager button {
  background-color: #0047ab;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.booking-manager button:hover {
  background-color: #003380;
}

.slot-list {
  list-style: none;
  padding: 0;
}

.slot-list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slot-list li button {
  margin-left: 6px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.manager-message {
  margin-top: 8px;
  font-weight: bold;
}

.booking-calendar {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px dashed #ccc;
}