button {
    border: 1px solid #eee;
    padding: 6px;
    border-radius: 5px;
    background-color: #028907;
    color: white;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}