.zoombox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.zoombox-content {
  position: relative;
  width: 80vw;
  max-height: 100vh;
  overflow: hidden;
  cursor: grab;
  justify-content: center;
  display: flex;
  border: 1px solid #eee;
  background-color: black;
}

.zoombox-image {
  max-width: 100%;
  max-height: inherit;
  transition: transform 0.3s ease;
  cursor: move;
}

.zoombox-prev-btn,
.zoombox-next-btn,
.zoombox-close-btn,
.zoombox-fullscreen-btn,
.zoombox-reset-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  width: 2.6rem;
  height: 2.6rem;
  cursor: pointer;
  font-size: 16px;
  z-index: 1100;
}

.zoombox-prev-btn {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.zoombox-next-btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.zoombox-fullscreen-btn {
  bottom: 10px;
  right: 10px;
}

.zoombox-close-btn {
  top: 10px;
  right: 10px;
}

.zoombox-reset-btn {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}


/* .zoombox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.zoombox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  cursor: grab;
}

.zoombox-content img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.zoombox-prev-btn,
.zoombox-next-btn,
.zoombox-close-btn,
.zoombox-fullscreen-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1100;
}

.zoombox-prev-btn {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.zoombox-next-btn {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.zoombox-close-btn {
  top: 10px;
  right: 10px;
}

.zoombox-fullscreen-btn {
  top: 10px;
  left: 10px;
} */


/* .zoombox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .zoombox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
  }
  
  .zoombox-content img {
    max-width: 100%;
    max-height: 100%;
    cursor: grab;
  }
  
  .zoombox-prev-btn,
  .zoombox-next-btn,
  .zoombox-close-btn {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1100;
  }
  
  .zoombox-prev-btn {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .zoombox-next-btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .zoombox-close-btn {
    top: 10px;
    right: 10px;
  }
   */